@import url('./reset.css');

body {
  background-color: #000000;
}

.header {
  margin: 23px 85px 18px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  max-width: 107px;
  height: auto;
}

.logo__name {
  margin-left: 8px;
  max-width: 96px;
  height: auto;
}

.auth {
  margin-left: 108px;
  display: flex;
  align-items: center;
}

.auth__icon {
  max-width: 26px;
  height: auto;
}

.auth__link {
  margin-left: 12px;
  max-width: 54px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.header__background {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  width: 991px;
  height: 828px;
  right: 0px;
  top: 0px;
  background: url(./assets/Vector-3.svg);
}
